/* --General -- */
body {
  
   background-image: radial-gradient(circle at 0% 0%, #ece5dd 0%, #eedcc5ad 50%, #fee1be 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
color: #4B403A;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.navbar{
    background-color: bisque;
}

h1{

    color: rgb(203, 139, 150);
}
/* --NavBar-- */



/*--Header--*/
.img-fluid{
  border-radius: 5px;
}

/*--Sobre mí--*/
#chemEng{
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 120px; 
}

/*--Proyectos--*/
.containerProject{
    display:flex;
    justify-content: center;
    align-items: center;

}
.projectsTitle,
.contactTitle {
    text-align: center;
    
}

/*--Contacto--*/

.containerContact{
    display:flex;
    justify-content:space-around;
    
}

/*--Footer--*/

#footer{
     display:flex;
    justify-content: center;
   background-color: rgb(211, 165, 109);

}