/* --General -- */

body {

    background-image: radial-gradient(circle at 0% 0%, #FCFAF8 0%, #fffaf5 50%, #fef8f2 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    color: #4B403A;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* --Titulos y sub-- */
h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    font-weight: 500;
    color: #b3791c;
}

#letter {

    font-family: "Limelight", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;


}

h2 {
    font-family: "Marcellus", serif;
    font-weight: 599;
    font-style: normal;
    color: #4b403aa7;

}




/* --NavBar-- */

#barraNavegacion {
    background-color: rgba(250, 235, 215, 0.237);
    border-radius: 3px;
   
}

.navbar-brand{
     color:#4e3618;
      font-weight: 500;
      font-size: 23px;
}

/*--Header--*/
.img-fluid {
    border-radius: 35px;
}

/*--Sobre mí--*/
.aboutMe {
    background-image: radial-gradient(circle at 0% 0%, #E8C4C0 0%, #E8C4C0 50%, #d98e8943 100%);
}

.imageAboutMe {
    border-radius: 50px;
}

.textAboutMe {
       color: #72572c;
    font-size: 60px
}


/*--Proyectos--*/
.containerProject {
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectsTitle,
.contactTitle {
    text-align: center;
     font-size: 50px

}

.card-img-top{
     width: 100%;
    aspect-ratio: 1 / 1;  
   
    border-radius: 7px;

}

/*--Contacto--*/

.containerContact {
    display: flex;
    justify-content: space-around;

}

/*--Footer--*/

#footer {
    display: flex;
    justify-content: center;
    background-color: rgb(211, 165, 109);

}